[submodule "3dparty/SDL"]
	path = 3dparty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "3dparty/omni_types"]
	path = 3dparty/omni_types
	url = https://github.com/Maksasj/omni_types
[submodule "3dparty/imgui"]
	path = 3dparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "3dparty/stb"]
	path = 3dparty/stb
	url = https://github.com/nothings/stb.git
